<mat-toolbar color="primary">
  <span class="navbar-brand">Gestión de Alumnos y Cursos</span>
</mat-toolbar>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="content-area">
        <router-outlet>
          <button mat-button routerLink="/alumnos" routerLinkActive="active">Alumnos</button>
          <button mat-button routerLink="/cursos" routerLinkActive="active">Cursos</button>
          <button mat-button routerLink="/inscripciones" routerLinkActive="active">Inscripciones</button>        
        </router-outlet>
      </div>
    </div>
  </div>
</div>

<style>
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(2, 2, 2);
  }
  .spacer {
    flex: 1 1 auto; /* Empuja los botones hacia la derecha */
  }
  mat-toolbar button {
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
  mat-toolbar button.active {
    background-color: rgba(255, 255, 255, 0.2); /* Resaltar el botón activo */
    border-radius: 4px; /* Bordes redondeados */
  }
  .content-area {
    padding: 20px; /* Espaciado interno */
    background-color: #000000; /* Fondo blanco para el área de contenido */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
</style>
