<mat-toolbar color="primary">
  <span class="navbar-brand">Gestor del Alumnado (GedeA)</span>
</mat-toolbar>
<link rel="stylesheet" href="/src/app/app.component.scss">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <app-sidebar>
      <button mat-button routerLink="/inscriptions" routerLinkActive="active">Inscripciones</button>
    </app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-topbar>
      <button mat-button routerLink="/profile" routerLinkActive="active">Perfil</button>
    </app-topbar>
    <app-navbar>
      <button mat-button routerLink="/courses" routerLinkActive="active">Cursos</button>
    </app-navbar>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
