<table mat-table [dataSource]="alumnos" class="mat-elevation-z8">
  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
  </ng-container>

  <!-- Nombre/s -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </td>
  </ng-container>

  <!-- Apellido/s -->
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.apellido}} </td>
  </ng-container>

  <!-- Curso/s -->
  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.curso}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
