/* Debo agregar estilos */
@import '@sweetalert2/theme-dark/dark.scss';

html, body { 
  height: 50%; /* Ajusta el valor de la altura */
  width: 50%; /* Ajusta el valor del ancho */
  margin: 25%; 
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.presentation-text {
  font-size: 1.2rem;
  color: #34495E; /* Un tono azul grisáceo para elegancia y mejor legibilidad */
  line-height: 1.8;
  text-align: center;
  font-weight: 100; /* Peso de fuente medio para una lectura suave */
  height: 50px;
  width: 50px; /* Limita el ancho para mejorar la legibilidad en pantallas grandes */
  margin-left: auto;
  margin-right: auto;
}

.pillar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2c38; /* Un tono azul oscuro para mayor elegancia */
  height: 20px;
  width: 20px;
  margin: 20px 20px 20px 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #2100b4; /* Línea decorativa debajo del título */
  padding: auto;
}

.pillar-description {
  font-size: 1rem;
  color: #555; /* Gris para mejor lectura */
  line-height: 1.6;
  margin: auto;
  text-align: justify; /* Justificar texto para un aspecto más formal */
}

.small-img {
  width: 50px;
  height: 50px;
  border-radius: 5px; /* Agrega un pequeño redondeo a las esquinas de la imagen */
}

.fixed-height-card .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  height: 50px;
  width: 50px;
  justify-content: space-between;
  margin: auto auto; /* Centra las cards horizontalmente y agrega un espacio entre ellas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra ligera para darle relieve */
  border-radius: 10px; /* Redondea las esquinas de la card */
  padding: auto; /* Añade un poco de espacio interno para el contenido */
}

@media (min-width: 768px) {
  .fixed-height-card {
      max-width: 400px; /* Aumenta el tamaño de las cards en pantallas medianas */
  }
}

@media (min-width: 1024px) {
  .fixed-height-card {
      max-width: 500px; /* Aumenta aún más el tamaño de las cards en pantallas grandes */
  }
}

